<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="cacheEngine" class="ru.otus.HW11.cache.CacheEngineImpl">
        <constructor-arg name="timeOfLife" value="1000"/>
        <constructor-arg name="timeOfIdle" value="500"/>
    </bean>

    <bean id="dbService" class="ru.otus.HW11.DBServiceCachedImpl">
        <constructor-arg name="cache" ref="cacheEngine"/>
        <constructor-arg name="cacheMaxSize" value="100"/>
        <constructor-arg name="dbUrl" value="jdbc:postgresql://127.0.0.1:5432/main"/>
        <constructor-arg name="dbUser" value="vera"/>
        <constructor-arg name="dbPassword" value=""/>
    </bean>

    <bean id="templateProcessor" class="ru.otus.HW13.TemplateProcessor"></bean>

</beans>
