<?xml version="1.0" encoding="UTF-8"?>

<web-app>

    <display-name>HW13</display-name>
    <description>Example of war file</description>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>ru.otus.HW13.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>ru.otus.HW13.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actionServlet</servlet-name>
        <servlet-class>ru.otus.HW13.servlet.ActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>statisticsServlet</servlet-name>
        <servlet-class>ru.otus.HW13.servlet.StatisticsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actionServlet</servlet-name>
        <url-pattern>/action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statisticsServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>

</web-app>
